
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-size: 14px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-about {
    flex: 1;
    min-width: 250px;
    margin-right: 20px;
}

.footer-about h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-about p {
    line-height: 1.5;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-between;
    min-width: 250px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links strong {
    font-size: 16px;
}

.footer-social {
    flex: 1;
    min-width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.footer-social a {
    font-family: FontAwesome;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

button {
    background-color: palevioletred;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #f84874;
}

.footer-bottom {
    text-align:center;
    margin-top: 30px;
    border-top: 1px solid #555;
    padding-top:20px;
    font-size: 14px;
}  

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-social {
        margin-top: 10px;
    }
}